.dialog-content {
    width: 400px;
}

.full-width {
    width: 402px;
}

.action_container {
    float: right;
}

h5 {
    margin-top: 0px;
    text-align: center;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

md-icon {
    font-size: 25px;
    padding-bottom: 2%;
    margin-right: 16px;
}