<h1 md-dialog-title> Enter to FIT </h1>
<form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div MdDialogContent class="dialog-content">
    <md-input-container class="full-width">
      <input mdInput type="email" placeholder="Email" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required>
    </md-input-container>
    <br>
    <md-input-container class="full-width">
      <input mdInput type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required>
    </md-input-container>
  </div>

  <div MdDialogActions class="action_container">
    <button color="accent" md-button tabindex="-1" (click)="closeDialog()"> CANCEL </button>
    <button color="accent" md-button [disabled]="loading"> LOG IN </button>
  </div>
</form>
