.news-container {
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tag-link {
    color: white;
    text-decoration: none;
}

.information {
    margin-top: 2%;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
}

.filter {
    display: flex;
    width: 75.8%;
    align-items: flex-start;
    justify-content: space-around;
    .specs-group {
        display: flex;
        .specialization {
            display: flex;
            flex-direction: column;
        }
    }
    .label {
        font-size: 16px;
        padding: 0px 10px;
    }
    .course-group {
        display: flex;
        .courses {
            display: flex;
            flex-direction: column;
        }
    }
}

.content {
    p {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        overflow: hidden;
    }
}

@media all and (max-width: 750px) {
    .news-container {
        margin-top: 0 !important;
        padding: 2%;
        md-card {
            max-width: 100% !important;
            margin-left: 0 !important;
        }
        .mat-button {
            min-width: 0 !important;
        }
    }
}