md-toolbar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 15;
    position: fixed;
}

button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-button-margin {
    margin-right: 16px
}

.toolbar-spacer {
    flex: 1 1 auto;
}

@media all and (max-width: 380px) {
    .mat-button {
        font-size: 14px !important;
    }
}