<div class="_wrap">
    <div class="headerWrapper">
        <div class="_header">
            <div class="overlay">
                <img class="headerimg" src="assets/header4.png" style="height:400px">
            </div>
            <div class="headerCaption">
                <h1> Welcome to ThinkIT Club</h1>
                <h3><a href="#">Join</a> us, if you love programming.</h3>
            </div>
            <a class="githubLink" target="_blank" color="accent" md-raised-button href="https://github.com/defaultinc">
                <md-icon svgIcon="github" style="margin-bottom: 12px"></md-icon>
                Our Github</a>
        </div>
    </div>

    <h3 fxFlexOffset="10"> Recent News </h3>
    <app-fk-news-card>

    </app-fk-news-card>

    <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer__middle-section">

            <div class="mdl-mega-footer__drop-down-section">
                <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer__heading">Contacts</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li class="">
                        Address: Tole Bi 59 st., 050000,
                        <br> Almaty, Kazakhstan
                    </li>
                    <li>Email: zh.nurlan96@gmail.com</li>
                    <li>Nurlan: +7 (701) 952 62 55</li>
                </ul>
            </div>

            <div class="mdl-mega-footer__drop-down-section">
                <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer__heading">Details</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li> <a href="http://www.kbtu.kz/ru/admission/undergraduate">Want apply to KBTU? </a></li>
                    <br>
                    <li><a href="#">About ThinkIT</a></li>
                    <br>
                    <li><a href="#">Ask Question</a></li>
                </ul>
            </div>

            <div class="mdl-mega-footer__drop-down-section">
                <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer__heading">Useful Links</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="http://kbtu.kz">Official KBTU website</a></li>
                    <br>
                    <li><a href="http://intranet.kbtu.kz">KBTU intranet</a></li>
                    <br>
                    <li><a href="https://vk.com/id308821615">KBTU VK official</a></li>
                </ul>
            </div>

        </div>


    </footer>
</div>