<div class="wrapper">
    <md-sidenav-container>
        <md-sidenav #sidenav mode="side" opened="true">
            <img src="./../../../assets/fit-logo.jpg" alt="" width="250" height="250">
            <md-nav-list>
                <h3 md-subheader>Information</h3>
                <a md-list-item routerLink="/news" routerLinkActive="active">
                    <md-icon>new_releases</md-icon> <span>News</span> </a>
                <a md-list-item>
                    <md-icon>help</md-icon> <span>About ThinkIT</span> </a>
            </md-nav-list>
        </md-sidenav>
        <router-outlet></router-outlet>
    </md-sidenav-container>
</div>