.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

md-sidenav-container {
    padding-bottom: 40px;
}

app-fk-news-card {
    flex: 2 2 auto;
    overflow-y: auto;
}

md-sidenav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

a {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: flex-start;
}

span {
    margin-left: 10%;
}