.wrapper{
  display: flex;
  flex-direction: column;            
  height: 100vh;
  overflow: hidden;
}

app-fk-navbar{
  flex: 0 0 auto;  
}

app-fk-news-card {
  flex: 2 2 auto;     
  overflow-y: auto;     
}

md-sidenav {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}